<dl>
  <dt><LinkTo @route="cookbook.client-side">Client Side Search & Sort</LinkTo></dt>
  <dd>
    <p>Fully searchable and sortable tables, client side.</p>
  </dd>

  <dt><LinkTo @route="cookbook.custom-row">Custom Row Component</LinkTo></dt>
  <dd>
    <p>Need more than the default ELT rows? Simply create your own rowComponent.</p>
  </dd>

  <dt><LinkTo @route="cookbook.custom-sort-icon">Custom Sort Icon</LinkTo></dt>
  <dd>
    <p>Not a fan of fa-icons? Easily change it to any font you like using the table's iconComponent.</p>
  </dd>

  <dt><LinkTo @route="cookbook.horizontal-scrolling">Horizontal Scrolling</LinkTo></dt>
  <dd>
    <p>Horizontal scrolling automatically enabled if the combined width of all columns exceeds table width.</p>
  </dd>

  <dt><LinkTo @route="cookbook.occlusion-rendering">Occlusion Rendering</LinkTo></dt>
  <dd>
    <p>The holy grail of tables. Intelligent row offloading to scroll huge lists forever, without performance degradation.</p>
  </dd>

  <dt><LinkTo @route="cookbook.pagination">Pagination</LinkTo></dt>
  <dd>
    <p>Feel free to add any pagination to your table's footer.</p>
  </dd>

  <dt><LinkTo @route="cookbook.table-actions">Table Actions</LinkTo></dt>
  <dd>
    <p>Interact with your rows and cells the Ember way: "Data Down, Actions Up" (DDAU)</p>
  </dd>
</dl>
