.ember-light-table {
  height: inherit;
  overflow: auto;
  display: flex;
  flex-direction: column;
}

.ember-light-table table {
  table-layout: fixed;
  border-collapse: collapse;
  width: 100%;
}

.ember-light-table .lt-scaffolding {
  border: none;
  padding-top: 0;
  padding-bottom: 0;
  height: 0;
  margin-top: 0;
  margin-bottom: 0;
  visibility: hidden;
}

.ember-light-table .lt-head-wrap,
.ember-light-table .lt-foot-wrap {
  overflow-y: auto;
  overflow-x: hidden;
}

.ember-light-table .lt-head-wrap,
.ember-light-table .lt-foot-wrap {
  flex: 0 1 auto;
}

.ember-light-table .lt-body-wrap {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
}

.ember-light-table .lt-scrollable {
  width: 100%;
  flex: 1 0 auto;
}

.ember-light-table .align-left {
  text-align: left;
}

.ember-light-table .align-right {
  text-align: right;
}

.ember-light-table .align-center {
  text-align: center;
}

.ember-light-table .lt-column .lt-sort-icon {
  float: right;
}

.ember-light-table .lt-column.is-sortable {
  cursor: pointer;
  user-select: none;
}

.ember-light-table .lt-row.is-expandable,
.ember-light-table .lt-row.is-selectable {
  cursor: pointer;
}
