.ember-light-table {
  height: auto;
  overflow: auto;
}

.ember-light-table table {
  table-layout: fixed;
  border-collapse: collapse;
  width: 100%;
}

.ember-light-table .lt-scaffolding {
  border: none;
  padding-top: 0;
  padding-bottom: 0;
  height: 0;
  margin-top: 0;
  margin-bottom: 0;
  visibility: hidden;
}

.ember-light-table .lt-body-wrap {
  overflow-y: auto;
  overflow-x: hidden;
  height: inherit;
}

.ember-light-table .align-left {
  text-align: left;
}

.ember-light-table .align-right {
  text-align: right;
}

.ember-light-table .align-center {
  text-align: center;
}

.ember-light-table .lt-column .lt-sort-icon {
  float: right;
}

.ember-light-table .lt-column.is-sortable {
  cursor: pointer;
}

.ember-light-table .lt-row.is-expandable,
.ember-light-table .lt-row.is-selectable {
  cursor: pointer;
}
