.lt-table-container {
  height: inherit;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.lt-table-container table {
  table-layout: fixed;
  border-collapse: collapse;
  width: 100%;
  box-sizing: border-box;
}

td.lt-scaffolding {
  border: none;
  padding-top: 0;
  padding-bottom: 0;
  height: 0;
  margin-top: 0;
  margin-bottom: 0;
  visibility: hidden;
}

.lt-head-wrap,
.lt-foot-wrap {
  overflow-y: auto;
  overflow-x: hidden;

  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

.ember-light-table .lt-body-wrap {
  overflow-y: hidden;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  position: relative;
}

.lt-table-container .lt-column {
  position: relative;
}

.lt-scrollable {
  width: 100%;
  overflow-y: auto;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.ember-light-table .lt-infinity {
  min-height: 1px;
}

.ember-light-table vertical-collection {
  width: 100%;
  display: table;
  table-layout: fixed;
}

.ember-light-table vertical-collection occluded-content:first-of-type {
  display: table-caption;
  position: relative;
}

.lt-standard-scrollable {
  overflow: auto;
}

.lt-table-container .align-left {
  text-align: left;
}

.lt-table-container .align-right {
  text-align: right;
}

.lt-table-container .align-center {
  text-align: center;
}

.lt-column .lt-sort-icon {
  float: right;
}

.lt-column.is-draggable,
.lt-column.is-sortable {
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.lt-column.is-resizing {
  pointer-events: none;
}

.ember-light-table.is-resizing {
  cursor: col-resize;
}

.lt-column .lt-column-resizer {
  width: 5px;
  cursor: col-resize;
  height: 100%;
  background: transparent;
  position: absolute;
  right: 0;
  top: 0;
}

.lt-row.is-expandable,
.lt-row.is-selectable {
  cursor: pointer;
}

.lt-scrollable {
  width: 100%;
  position: relative;
}

.lt-standard-scrollable {
  overflow: auto;
}

.scrollable-content {
  position: relative;
}

.lt-frame .lt-standard-scrollable {
  height: 'auto';
}
