.ember-light-table {
  height: inherit;
  overflow: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.ember-light-table table {
  table-layout: fixed;
  border-collapse: collapse;
  width: 100%;
}

.ember-light-table .lt-scaffolding {
  border: none;
  padding-top: 0;
  padding-bottom: 0;
  height: 0;
  margin-top: 0;
  margin-bottom: 0;
  visibility: hidden;
}

.ember-light-table .lt-head-wrap,
.ember-light-table .lt-foot-wrap {
  overflow-y: auto;
  overflow-x: hidden;
}

.ember-light-table .lt-head-wrap,
.ember-light-table .lt-foot-wrap {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
}

.ember-light-table .lt-body-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

.ember-light-table .lt-column {
  position: relative;
}

.ember-light-table .lt-scrollable {
  width: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

.ember-light-table .align-left {
  text-align: left;
}

.ember-light-table .align-right {
  text-align: right;
}

.ember-light-table .align-center {
  text-align: center;
}

.ember-light-table .lt-column .lt-sort-icon {
  float: right;
}

.ember-light-table .lt-column.is-draggable,
.ember-light-table .lt-column.is-sortable {
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.ember-light-table .lt-column.is-resizing {
  pointer-events: none;
}

.ember-light-table.is-resizing {
  cursor: col-resize;
}

.ember-light-table .lt-column .lt-column-resizer {
  width: 5px;
  cursor: col-resize;
  height: 100%;
  background: transparent;
  position: absolute;
  right: 0;
  top: 0;
}

.ember-light-table .lt-row.is-expandable,
.ember-light-table .lt-row.is-selectable {
  cursor: pointer;
}


/*Following is the custom CSS to mock fixed header layout*/

.light-table-wrapper {
  padding-top: 2.5rem;
  /*Leave room for the header area*/
}

.light-table-wrapper.scrollable {
  position: relative;
  height: 100%;
}

.light-table-wrapper .scroll-area {
  overflow: auto;
  /*Make this box scroll*/
  height: 100%;
  border-bottom: 0.0625rem solid #ECEFF1;
  border-top: 0.0625rem solid #ECEFF1;
}

.light-table-wrapper .fixable .fix {
  position: absolute;
  /*Escape the scrolling context*/
}

.light-table-wrapper thead {
  border: 0;
}

.light-table-wrapper table {
  table-layout: fixed;
}

.light-table-wrapper .fixable .fix {
  /*Move above the scroll area into the fake header*/
  top: 0;
  /*Must absolutely position the top to avoid bugs in Firefox and IE6*/
  height: 2.5rem;
  line-height: 2.5rem;
}

.light-table-wrapper .fixable .lt-column {
  position: initial;
  padding-top: 0;
  padding-bottom: 0;
}

.light-table-wrapper tr.fixable:first-child {
  height: auto !important;
}

.light-table-wrapper .ember-light-table {
  overflow: initial !important;
}
