{{!-- BEGIN-SNIPPET expanded-row --}}
<div class="row">
  <div class="col-md-2">
    <img src={{@row.avatar}} class="user-avatar" alt="avatar">
  </div>
  <div class="col-md-8">
    <p>{{@row.bio}}</p>

    <div class="user-actions">
      <a href="mailto:{{@row.email}}">
        <img
          class='brand-icon'
          alt=''
          role='presentation'
          src='/images/envelope-solid.svg'
        />
      </a>
      <a href="#">
        <img
          class='brand-icon'
          alt=''
          role='presentation'
          src='/images/facebook-f-brands.svg'
        />
      </a>
      <a href="#">
        <img
          class='brand-icon'
          alt=''
          role='presentation'
          src='/images/twitter-brands.svg'
        />
      </a>
    </div>
  </div>
</div>
{{!-- END-SNIPPET --}}