{{!-- BEGIN-SNIPPET expanded-row --}}
<div class="row">
  <div class="col-md-2">
    <img src={{@row.avatar}} class="user-avatar" alt="avatar">
  </div>
  <div class="col-md-8">
    <p>{{@row.bio}}</p>

    <div class="user-actions">
      <a class="" href="mailto:{{@row.email}}"><FaIcon @prefix="fas" @icon="envelope" /></a>
      <a class="" href="#"><FaIcon @prefix="fab" @icon="facebook" /></a>
      <a class="" href="#"><FaIcon @prefix="fab" @icon="twitter" /></a>
    </div>
  </div>
</div>
{{!-- END-SNIPPET --}}