{{!-- BEGIN-SNIPPET no-data --}}
<div class="row">
  <div class="col-md-2 col-md-offset-4">
    <img src="images/tomster.png" alt="">
  </div>
  <div class="col-md-4">
    <h2>Hi there!</h2>
    <p>Uhh... Looks like you've delete all our users</p>
    <p>Lets see, have you tried turning it off and on?</p>
  </div>
</div>
{{!-- END-SNIPPET --}}
