{{!-- BEGIN-SNIPPET row-toggle --}}
<button class="row-toggle"
  type="button"
  {{on "click" (fn (toggle "expanded" @row))}}
>
  <i class="fa {{if @row.expanded "fa-chevron-down" "fa-chevron-right"}}"></i>
</button>
{{!-- END-SNIPPET --}}
