{{!-- BEGIN-SNIPPET row-toggle --}}
<a class="row-toggle" {{action (toggle 'expanded' row)}}>
  <i class="fa {{if row.expanded 'fa-chevron-down' 'fa-chevron-right'}}"></i>
</a>
{{!-- END-SNIPPET --}}
