{{! BEGIN-SNIPPET row-toggle }}
<button
  class="row-toggle"
  type="button"
  {{on "click" (fn (toggle "expanded" @row))}}
>
  <i>{{if
      @row.is-expanded
      (component "fa-icon" prefix="fas" icon="chevron-down")
      (component "fa-icon" prefix="fas" icon="chevron-up")
    }}
  </i>
</button>
{{! END-SNIPPET }}