{{! BEGIN-SNIPPET row-toggle }}
<button
  class="row-toggle"
  type="button"
  {{on "click" (fn (toggle "expanded" @row))}}
>
  <i>
    {{#if (get @row "expanded")}}
      <FaIcon @icon="chevron-down" />
    {{else}}
      <FaIcon @icon="chevron-right" />
    {{/if}}
  </i>
</button>
{{! END-SNIPPET }}