{{! BEGIN-SNIPPET user-actions }}
<button
  type='button'
  class='btn btn-sm btn-default'
  {{on 'click' (fn @tableActions.notifyUser @row bubbles=false)}}
>
  <img
    class='btn-icon'
    alt=''
    role='presentation'
    src='/images/bell-solid.svg'
  />
</button>
<button
  type='button'
  class='btn btn-sm btn-danger'
  {{on 'click' (fn @tableActions.deleteUser @row bubbles=false)}}
>
  <img
    class='btn-icon'
    alt=''
    role='presentation'
    src='/images/trash-can-regular.svg'
  />
</button>
{{! END-SNIPPET }}