{{!-- BEGIN-SNIPPET user-actions --}}
<button
    type="button"
    class="btn btn-sm btn-default fa fa-bell"
    {{on "click" (fn @tableActions.notifyUser @row bubbles=false)}}
></button>
<button
    type="button"
    class="btn btn-sm btn-danger fa fa-trash"
    {{on "click" (fn @tableActions.deleteUser @row bubbles=false)}}
></button>
{{!-- END-SNIPPET --}}
