<div
  class="ember-light-table {{if this.occlusion "occlusion"}}"
  id={{or @id this.tableId}}
  style={{this.style}}
  ...attributes
>
  {{yield
    (hash
      head=(component
        "lt-head"
        tableId=(or @id this.tableId)
        table=this.table
        tableActions=this.tableActions
        extra=this.extra
        tableClassNames=this.tableClassNames
        sharedOptions=this.sharedOptions
      )
      body=(component
        "lt-body"
        tableId=(or @id this.tableId)
        table=this.table
        tableActions=this.tableActions
        extra=this.extra
        tableClassNames=this.tableClassNames
        sharedOptions=this.sharedOptions
      )
      foot=(component
        "lt-foot"
        tableId=(or @id this.tableId)
        table=this.table
        tableActions=this.tableActions
        extra=this.extra
        tableClassNames=this.tableClassNames
        sharedOptions=this.sharedOptions
      )
    )
  }}
</div>