<tr class="lt-scaffolding-row">
  {{#each this.columns as |column|}}
    {{! template-lint-disable no-inline-styles }}
    <td
      style={{html-safe (if column.width (concat "width: " column.width))}}
      class="lt-scaffolding"
    ></td>
    {{! template-lint-enable no-inline-styles }}
  {{/each}}
</tr>