{{#if column.headerComponent}}
  {{component column.headerComponent tableActions=tableActions column=column}}
{{else}}
  {{column.label}}
  {{#if column.sorted}}
    <span class="lt-sort-icon {{if column.ascending sortIcons.iconAscending sortIcons.iconDescending}}"></span>
  {{/if}}
{{/if}}
