{{#ember-wormhole to=(concat tableId '_body_foot') renderInPlace=renderInPlace}}
  <table>
    <tfoot>
      {{#if hasBlock}}
        {{yield visibleColumns table}}
      {{else}}
        <tr>
          {{#each visibleColumns as |column|}}
            {{lt-column column=column tableActions=tableActions sortIcons=sortIcons click=(action 'onColumnClick' column) doubleClick=(action 'onColumnDoubleClick' column)}}
          {{/each}}
        </tr>
      {{/if}}
    </tfoot>
  </table>
{{/ember-wormhole}}
