{{#ember-wormhole to=(concat tableId '_inline_foot') renderInPlace=renderInPlace}}
  <table>
    <tfoot class="lt-foot">
      {{#if hasBlock}}
        {{yield columns table}}
      {{else}}
        <tr>
          {{#each columns as |column|}}
            {{component (concat 'light-table/columns/' column.type) column
              table=table
              tableActions=tableActions
              sortIcons=sortIcons
              click=(action 'onColumnClick' column)
              doubleClick=(action 'onColumnDoubleClick' column)}}
          {{/each}}
        </tr>
      {{/if}}
    </tfoot>
  </table>
{{/ember-wormhole}}
