{{lt-selection-handle
  ltBody=ltBody
  rowIndex=a
  direction=directionA
  inverse=inverse
  drag=(action 'onDrag' 'a')
  move=(action 'onMove' 'a')
  drop=(action 'onDrop' 'a')
}}

{{lt-selection-handle
  ltBody=ltBody
  rowIndex=b
  direction=directionB
  inverse=inverse
  drag=(action 'onDrag' 'b')
  move=(action 'onMove' 'b')
  drop=(action 'onDrop' 'b')
}}

<div class='lt-row-range-box' style={{boxStyle}}> </div>

