<dl>
  <dt>{{#link-to "cookbook.client-side"}}Client Side Search & Sort{{/link-to}}</dt>
  <dd>
    <p>Fully searchable and sortable tables, client side.</p>
  </dd>

  <dt>{{#link-to "cookbook.custom-row"}}Custom Row Component{{/link-to}}</dt>
  <dd>
    <p>Need more than the default ELT rows? Simply create your own rowComponent.</p>
  </dd>

  <dt>{{#link-to "cookbook.custom-sort-icon"}}Custom Sort Icon{{/link-to}}</dt>
  <dd>
    <p>Not a fan of fa-icons? Easily change it to any font you like using the table's iconComponent.</p>
  </dd>

  <dt>{{#link-to "cookbook.horizontal-scrolling"}}Horizontal Scrolling{{/link-to}}</dt>
  <dd>
    <p>Horizontal scrolling automatically enabled if the combined width of all columns exceeds table width.</p>
  </dd>

  <dt>{{#link-to "cookbook.occlusion-rendering"}}Occlusion Rendering{{/link-to}}</dt>
  <dd>
    <p>The holy grail of tables. Intelligent row offloading to scroll huge lists forever, without performance degradation.</p>
  </dd>

  <dt>{{#link-to "cookbook.pagination"}}Pagination{{/link-to}}</dt>
  <dd>
    <p>Feel free to add any pagination to your table's footer.</p>
  </dd>

  <dt>{{#link-to "cookbook.table-actions"}}Table Actions{{/link-to}}</dt>
  <dd>
    <p>Interact with your rows and cells the Ember way: "Data Down, Actions Up" (DDAU)</p>
  </dd>
</dl>
