<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button
        type="button"
        class="navbar-toggle collapsed"
        data-toggle="collapse"
        data-target="#bs-example-navbar-collapse-1"
        aria-expanded="false"
      >
        <span class="sr-only">
          Toggle navigation
        </span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <LinkTo @route="index" class="navbar-brand">
        <img src="images/ember-logo.png" alt="emberJs" />
        <span>
          Light Table
        </span>
      </LinkTo>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav" role="navigation">
        <li>
          <LinkTo @route="index">
            Home
          </LinkTo>
        </li>
        <li>
          <LinkTo @route="responsive" class="navbar-item">
            Responsive
          </LinkTo>
        </li>
        <li>
          <LinkTo @route="scrolling" class="navbar-item">
            Scrolling
          </LinkTo>
        </li>

        <li
          class="dropdown {{
            if (eq this.router.currentRoute.parent.name "columns") "active"
          }}"
        >
          <a
            class="dropdown-toggle"
            data-toggle="dropdown"
            role="button"
            aria-haspopup="true"
            aria-expanded="false"
            href="#"
          >
            Columns
            <FaIcon @icon="caret-down" />
          </a>
          <ul class="nav navbar-nav dropdown-menu">
            <li>
              <LinkTo @route="columns.draggable">
                Draggable Columns
              </LinkTo>
            </li>
            <li>
              <LinkTo @route="columns.grouped">
                Grouped Columns
              </LinkTo>
            </li>
            <li>
              <LinkTo @route="columns.resizable">
                Resizable Columns
              </LinkTo>
            </li>
          </ul>
        </li>

        <li
          class="dropdown {{
            if (eq this.router.currentRoute.parent.name "rows") "active"
          }}"
        >
          <a
            class="dropdown-toggle"
            data-toggle="dropdown"
            role="button"
            aria-haspopup="true"
            aria-expanded="false"
            href="#"
          >
            Rows
            <FaIcon @icon="caret-down" />
          </a>
          <ul class="nav navbar-nav dropdown-menu">
            <li>
              <LinkTo @route="rows.expandable">
                Expandable Rows
              </LinkTo>
            </li>
            <li>
              <LinkTo @route="rows.selectable">
                Selectable Rows
              </LinkTo>
            </li>
          </ul>
        </li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li
          class="dropdown {{
            if (eq this.router.currentRoute.parent.name "cookbook") "active"
          }}"
        >
          <a
            class="dropdown-toggle"
            data-toggle="dropdown"
            role="button"
            aria-haspopup="true"
            aria-expanded="false"
            href="#"
          >
            Cookbook
            <FaIcon @icon="caret-down"/>
          </a>
          <ul class="nav navbar-nav dropdown-menu">
            <li>
              <LinkTo @route="cookbook.index">
                Cookbook
              </LinkTo>
            </li>
            <li>
              <LinkTo @route="cookbook.client-side">
                Client Side Search & Sort
              </LinkTo>
            </li>
            <li>
              <LinkTo @route="cookbook.custom-row">
                Custom Row Component
              </LinkTo>
            </li>
            <li>
              <LinkTo @route="cookbook.custom-sort-icon">
                Custom Sort Icon
              </LinkTo>
            </li>
            <li>
              <LinkTo @route="cookbook.horizontal-scrolling">
                Horizontal Scrolling
              </LinkTo>
            </li>
            <li>
              <LinkTo @route="cookbook.occlusion-rendering">
                Occlusion Rendering
              </LinkTo>
            </li>
            <li>
              <LinkTo @route="cookbook.pagination">
                Pagination
              </LinkTo>
            </li>
            <li>
              <LinkTo @route="cookbook.table-actions">
                Table Actions
              </LinkTo>
            </li>
          </ul>
        </li>

        <li>
          <a href="docs">
            Documentation
          </a>
        </li>
        <li>
          <a
            href="https://github.com/adopted-ember-addons/ember-light-table"
            class="github"
          >
            <FaIcon @icon="github"@prefix="fab" />
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>

{{outlet}}

<div class="tip">
  <FaIcon class="icon-info" @icon="info-circle" />
  Click on the panel header with the
  <FaIcon @icon="code" />
  icon to see code snippets associated with this table.
</div>