{{#each table.columns as |column|}}
  {{input type="checkbox" name=column.valuePath checked=column.hidden}}
  <label for={{column.valuePath}}>{{column.label}}</label>
{{/each}}

{{light-table
  table=table
  onScrolledToBottom=(action 'onScrolledToBottom')
  isLoading=isLoading
  loadingComponent='is-loading'
  expandedRowComponent='expanded-row'
  iconAscending='fa fa-sort-asc'
  iconDescending='fa fa-sort-desc'
  tableActions=(hash
    deleteUser=(action 'deleteUser')
  )
}}