{{!-- {{#each table.iterableColumns as |column|}}
  {{input type="checkbox" name=column.valuePath checked=column.hidden}}
  <label for={{column.valuePath}}>{{column.label}}</label>
{{/each}} --}}

<h2>Welcome</h2>