{{!-- BEGIN-SNIPPET expanded-row --}}
<div class="row">
  <div class="col-md-2">
    <img src={{@row.avatar}} class="user-avatar" alt="avatar">
  </div>
  <div class="col-md-8">
    <p>{{@row.bio}}</p>

    <div class="user-actions">
      <a href="mailto:{{@row.email}}"><FaIcon @icon="envelope"/></a>
      <a href="#"><FaIcon @icon="facebook" @prefix="fab"/></a>
      <a href="#"><FaIcon @icon="twitter" @prefix="fab" /></a>
    </div>
  </div>
</div>
{{!-- END-SNIPPET --}}