{{! BEGIN-SNIPPET user-actions }}
<button
  type="button"
  class="btn btn-sm btn-default"
  {{on "click" (fn @tableActions.notifyUser @row bubbles=false)}}
>
  <FaIcon @icon="bell" />
</button>
<button
  type="button"
  class="btn btn-sm btn-danger"
  {{on "click" (fn @tableActions.deleteUser @row bubbles=false)}}
>
  <FaIcon @icon="trash-alt" @prefix="far" />
</button>
{{! END-SNIPPET }}